/* Splash HTML*/


img{
    max-width: 100%;
    max-height: 100%;
}
.animation{
    position: absolute;
    top: 50%;
    left: 27.5%;
    transform: translateY(-50%);
}
.animation::after{
    content: "";
    clear: both;
    display: table;
    
}
.sealLogo{
    margin-top: 0%;
    rotate: 0%;
    float: left;
    width: 25%;
    padding: 5px;
    height: 10vw;
    width:  10vw;
    animation-name: dropDown;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}
.transitor{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    background-color: #00a6d6;
    width: 20px;
    height:50px;
    opacity: 0;
    animation-duration: 4s;
    animation-name: transition;
    animation-delay: 6s;
    animation-fill-mode: forwards;

}
.mainMenu{
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 50vw;
    max-height: 50vh;
    position: absolute;
    top: 50%;
    left: 27.5%;
    width: fit-content;
    transform: translateY(-50%);
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay:0s;
    animation-fill-mode: forwards;
    
}
h1{
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: 4vw;
    z-index: -1;
    margin-bottom: 0px;
    color: #00a6d6;
}
h1.menu{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.1vw;
    color: white;
    overflow: hidden;

}
h1.menu:before {
    position: absolute;
    content: attr(data-content); /* Prints the value of the attribute */
    left: 0;
    color: midnightblue;
    overflow: hidden;
    transition: width 275ms ease;
  }
h1.menu::before {
    /* Same as before */
    width: 0;
    white-space: nowrap;
  }
h1.menu:hover::before {
    width: 100%;
  }
h1.menu:active{
    /*background-color: rgb(25, 3, 4);*/
}
h1.menu:active::after{
    content: "Are you kidding me Why would you click the title when the buttons are so obvious";
    background-color: rgb(34, 43, 224);
    font-size: medium;
}
.menuBut{
    background-color: aliceblue;
    color: black;
    text-align: center;
    display: inline-block;
    margin-left: 5%;
    width: 25%;
    height: 50px;
    margin-top: 5%;
}

@keyframes dropDown {
    0%   {margin-top: -350%;}
    100% {transform: rotate(360deg); margin-top: 0%; opacity: 1;}
}
@keyframes transition {
    0%   {opacity: 0.1;}
    25%  {width: 55%; opacity: 0.8;} 
    50%  {height: 100%; opacity: 1;}
    75%  {width: 100%; height: 100%;}
    100%  {height: 100%; width: 100%; opacity: 1; left: 0%;}
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}    
}


/* Game HTML*/
.forBackground{
    background-image: url("images/splash.jpg");
    background-size: cover;
}
.status{
    float: left;
    text-align: center;
    width:25vw;
    height: 5vh;
    margin-top: 5%;
    margin-left: 0.5%;
    margin-right: auto;
    z-index:-1;
    font-size: 2vw;
    color: royalblue;
    background-color: indianred;
}

h2.scoreh2{
    font-size: 30px;
}
.gameBoard{
    margin-top:5vh;
    margin-right: auto;
    margin-left: auto;
    width: 40vw;
    height: 40vw;
    position: relative;
    
}
.checker{
    top: 0vw;
    z-index: 0;
    width: 5vw;
    height: 5vw;
    margin-bottom: 10px;
    margin-left: 0.31vw;
    left: 0px;
    position: absolute;
    transition:all .3s;
}
img.board{
    margin-top: 5vw;
    z-index: 1;
    position: absolute;
}
img.backoftheboard{
    opacity: 0.95;
    margin-top: 5vw;
    z-index: -1;
    position: absolute;
    
}