<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>
    <div class="animation">

        <div class="sealLogo">
            <img src="images/TUDelftSeal.png">
        </div>
        <div class="sealLogo" style="animation-delay: 1s ; opacity: 0;">
            <img src="images/TUDelftSeal.png">
        </div>
        <div class="sealLogo" style="animation-delay: 2s; opacity: 0;">
            <img src="images/TUDelftSeal.png">
        </div>
        <div class="sealLogo" style="animation-delay: 3s; opacity: 0;">
            <img src="images/TUDelftSeal.png">
        </div>
        
    </div>

    <div class= "transitor"></div>
    <h3 style="z-index: 1; position: absolute; color:white;"><%= gamesInitialized %> 
        <%if (gamesInitialized != 1) { %>
            games
        <% } else { %>
            game
        <% } %>
        initialized, 
        <%= gamesCompleted %> 
        completed,
        <%= gamesAborted %> 
        aborted
    </h3>
    <div class="mainMenu" style="opacity: 0;">
        <h1 class="menu" data-content="Welcome to Connect4 Game" >Welcome to Connect4 Game</h1>
        <form action="/play" method="get">
        <button type="submit" class="menuBut">Play</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container"> 
            <div>THE RULES: <br>Players must connect 4 of the same colored discs in a row horizontally, vertically or diagonally to win.<br>
                Only one piece is played at a time.<br>
                The game ends when there is a 4-in-a-row or a stalemate.<br>
                </div>
            <div >HOW TO PLAY: <br>Move your cursor and click to drop the checker</div>
            <div class="fellas">The fellas that made it CLICK</div>
        </div>
    </form>
    
    <br>
    <br>
    <br>
    <br>
    </div>
    
    

</body>


</html>
